<mat-toolbar class="header">
  <span class="spacer"></span>
  <span class="title">Cadastro</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="form-container">
  <label for="token-input">Digite o código que foi enviado no seu email</label>
  <mat-form-field>
    <input
      class="input"
      matInput
      id="token-input"
      type="password"
      [(ngModel)]="token"
      name="token"
      required
      maxlength="6"
    />
  </mat-form-field>
  <button class="button" (click)="enviarToken()">OK</button>
  <button class="reenviar" (click)="reenviarToken()" [disabled]="!hasEmail()">
    Reenviar código
  </button>
  <div *ngIf="tokenError" class="error">{{ tokenError }}</div>
  <div *ngIf="tokenSuccess" class="success">{{ tokenSuccess }}</div>
</div>
