.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

th.mat-header-cell {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

td.mat-cell {
  padding: 8px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-form-field {
  width: 100%;
  border: none;
}

.center-text {
  text-align: center;
}

.full-width-input {
  background-color: transparent;
  outline: none;
}

.add-category-container {
  display: flex;
  justify-content: center;
}

.category-input {
  margin-right: 10px;
}

.table-scroll {
  max-height: 60vh;
  overflow-y: auto;
}

.button {
  margin-bottom: 20px;
  border: none;
  width: 200px;
  height: 55px;
  display: block;
  background-color: #0064fb;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #0046b2;
}

.erro {
  color: white;
  background-color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.625rem;
  margin-top: 0.625rem;
  border-radius: 1rem;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 20px;
}

.mat-mdc-cell {
  font-size: 18px !important;
}

.no-data {
  margin-top: 20px;
}

.input-editing {
  height: 30px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .category-input {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
  }

  .table-scroll {
    max-height: 50vh;
  }

  .mat-mdc-header-cell {
    font-size: 18px;
  }

  .mat-mdc-cell {
    font-size: 16px !important;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    white-space: nowrap;
  }

  .erro {
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .category-input {
    width: 100%; /* Garante que o input de categoria ocupe a largura total */
    margin-right: 0; /* Remove a margem à direita */
    margin-bottom: 10px; /* Adiciona margem abaixo para espaçamento */
  }

  .table-container {
    width: 70%; /* Mantém a largura do card */
  }

  .add-category-container {
    flex-direction: column;
    align-items: stretch; /* Faz com que os inputs ocupem a largura total */
    width: 100%; /* Certifica-se que o container também ocupa a largura total */
  }

  .category-input {
    margin-right: 0; /* Remove margem direita */
    margin-bottom: 10px; /* Espaçamento entre o input e o botão */
  }

  .button {
    width: 200px; /* Defina a largura do botão conforme desejado */
    margin-bottom: 20px; /* Espaçamento abaixo do botão */
    align-self: center; /* Alinha o botão no centro, se necessário */
  }

  .table-scroll {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%; /* Certifica-se que o scroll ocupa a largura total */
  }

  table {
    width: 100%;
    word-wrap: break-word;
  }

  .mat-mdc-header-cell, .mat-mdc-cell {
    font-size: 14px;
  }

  mat-form-field {
    width: 100%; /* Aplica 100% de largura para todos os campos */
  }

  .center-text {
    font-size: 14px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
  }

  .input-editing {
    font-size: 18px;
    height: 25px;
  }

  .erro {
    font-size: 15px;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  .no-data {
    font-size: 14px;
  }
}

