<div class="slider-container">
  <div
    class="slider-item"
    *ngFor="let item of items; let i = index"
    [ngClass]="{ active: currentIndex === i }"
    [style.backgroundImage]="'url(' + item.image + ')'"
  ></div>
  <div class="slider-nav">
    <button class="nav-button" (click)="voltar()">
      <span class="material-icons">arrow_back_ios</span>
    </button>
    <button class="nav-button" (click)="avancar()">
      <span class="material-icons">arrow_forward_ios</span>
    </button>
  </div>
</div>
