:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-value {
  font-size: 2.3em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.top-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.small-card {
  width: 300px;
  height: 250px;
  text-align: center;
}

.small-card span {
  display: block;
}

.full-width-card {
  min-width: 280px;
  min-height: 193px;
  padding: 20px;
  box-sizing: border-box;
}

.timeline-title {
  font-size: 2em;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 1.7em;
}

.mat-mdc-cell {
  font-size: 1.5em !important;
}

.form-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

@media screen and (max-width: 1440px) {
  .card-container {
    gap: 30px;
  }

  .top-cards {
    gap: 30px;
  }

  .small-card {
    width: 220px;
    height: 200px;
  }

  .card-title {
    font-size: 2em;
  }

  .card-value {
    font-size: 2em;
  }

  .timeline-title {
    font-size: 1.8em;
  }

  .mat-mdc-header-cell {
    font-size: 1.5em;
  }

  .mat-mdc-cell {
    font-size: 1.2em !important;
  }
}

@media screen and (max-width: 1024px) {
  .top-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .small-card {
    width: calc(35% - 10px);
    height: 200px;
  }

  .card-title {
    font-size: 1.9em;
  }

  .card-value {
    font-size: 1.9em;
  }

  .timeline-title {
    font-size: 1.7em;
  }

  .mat-mdc-header-cell {
    font-size: 1.4em;
  }

  .mat-mdc-cell {
    font-size: 1.1em !important;
  }
}

@media screen and (max-width: 480px) {
  .small-card {
    width: 150px;
    height: 150px;
  }

  .card-title {
    font-size: 1.7em;
  }

  .card-value {
    font-size: 1.7em;
  }

  .timeline-title {
    font-size: 1.6em;
  }

  .mat-mdc-header-cell {
    font-size: 1.5em;
  }

  .mat-mdc-cell {
    font-size: 1.2em !important;
  }

  .card-container {
    margin-left: -30px;
  }

  .full-width-card {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
  }

  .table-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    white-space: nowrap;
  }
}