:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-value {
  font-size: 2.1em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.top-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.small-card {
  width: 250px;
  height: 200px;
  text-align: center;
}

.small-card span {
  display: block;
}

.full-width-card {
  min-width: 280px;
  min-height: 193px;
  padding: 20px;
  box-sizing: border-box;
}

.timeline-title {
  font-size: 2em;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 1.7em;
}

.mat-mdc-cell {
  font-size: 1.3em !important;
}

.form-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

@media screen and (max-width: 1024px) {
  .card-container {
    width: 100%;
  }

  .top-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .small-card {
    width: calc(32% - 8px);
    min-width: 200px;
    height: 150px;
  }

  .card-title {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  .card-value {
    font-size: 1.6em;
  }

  .timeline-title {
    font-size: 1.6em;
  }

  .mat-mdc-header-cell {
    font-size: 1.4em;
  }

  .mat-mdc-cell {
    font-size: 1.2em !important;
  }

  .table-container {
    max-height: 250px;
    overflow-x: auto;
  }

  table {
    min-width: 100%;
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .top-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .small-card {
    width: calc(35% - 6px);
    min-width: unset;
    height: 150px;
    padding: 12px;
  }

  .card-title {
    font-size: 1.8em;
    margin-bottom: 8px;
  }

  .card-value {
    font-size: 1.6em;
  }

  .timeline-title {
    font-size: 1.4em;
  }

  .mat-mdc-header-cell {
    font-size: 1.2em;
  }

  .mat-mdc-cell {
    font-size: 1em !important;
  }

  .table-container {
    max-height: 200px;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding: 0 8px;
  }
}

@media screen and (max-width: 480px) {
  .card-container {
    margin-left: -80px;
    margin-right: -80px;
  }

  .small-card {
    height: 150px;
  }
  .card-title {
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  .card-value {
    font-size: 1.4em;
  }

  .full-width-card {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
  }

  .timeline-title {
    font-size: 1.3em;
  }

  .mat-mdc-header-cell {
    font-size: 1.3em;
  }

  .mat-mdc-cell {
    font-size: 1.1em !important;
  }

  .table-container {
    max-height: 180px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding: 0 6px;
  }
}
