<div class="cards" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Card 1</mat-card-title>
    </mat-card-header>
    <mat-card-content> This is the content of card 1. </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Card 2</mat-card-title>
    </mat-card-header>
    <mat-card-content> This is the content of card 2. </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Card 3</mat-card-title>
    </mat-card-header>
    <mat-card-content> This is the content of card 3. </mat-card-content>
  </mat-card>
</div>
