<div class="footer">
  <p class="title">Contato</p>
  <div class="container">
    <div class="contact-item">
      <a href="https://wa.me/+556282174065">
        <img ngSrc="assets/whatsapp.png" alt="Whatsapp" height="35" width="35" />
      </a>
      <span>(62) 98217-4065</span>
    </div>
    <div class="contact-item">
      <a href="mailto:alexandrebmeconomista&#64;gmail.com">
        <img ngSrc="assets/email.png" alt="Email" height="35" width="35" />
      </a>
      <span>alexandrebmeconomista&#64;gmail.com</span>
    </div>
  </div>
  <p>Imagens fornecidas por <a class="credit" href="https://www.freepik.com/" target="_blank">Freepik</a>
  <p>© 2023</p>
</div>
