<div
  class="container"
  [ngClass]="{ 'info-styles': checarRota(), 'admin-styles': checarRotaAdmin() }"
>
  <mat-card class="card">
    <div class="card-content">
      <div class="left-column">
        <h2>Relatório</h2>

        <p *ngIf="larguraTela < 1600">
          Este relatório apresenta os resultados do nosso Diagnóstico
          Empresarial. As respostas foram coletadas por meio do formulário
          respondido anteriormente e estão representadas no gráfico de radar ao
          lado.
        </p>

        <p *ngIf="larguraTela >= 1600">
          Este relatório apresenta os resultados do nosso Diagnóstico
          Empresarial. As respostas foram coletadas por meio do formulário
          respondido anteriormente e estão representadas no gráfico de radar
          abaixo.
        </p>

        <p>
          Cada eixo do gráfico representa uma categoria diferente dentro da
          empresa: Administrativo, Comercial, Marketing, Financeiro, Compras,
          Jurídico, Recursos Humanos e Operações. A pontuação em cada categoria
          é a média das respostas dadas às perguntas dessa categoria.
        </p>

        <p>
          Uma pontuação mais próxima de 10 indica um alto nível de concordância
          com as afirmações feitas naquela categoria, enquanto uma pontuação
          mais próxima de 0 indica um baixo nível de concordância.
        </p>

        <p>
          Esperamos que este relatório forneça insights valiosos sobre as
          diferentes áreas da sua empresa e ajude a identificar áreas para
          melhoria.
        </p>
      </div>
      <div class="right-column large-chart">
        <canvas
          baseChart
          class="chart"
          [data]="radarChartData"
          [options]="radarChartOptions"
          [type]="radarChartType"
        >
        </canvas>
      </div>
    </div>
    <div *ngIf="checarRota()" class="contact-info">
      <p>
        Para um relatório completo entre em contato por
        <a
          href="mailto:alexandrebmeconomista&#64;gmail.com"
          class="contact-link"
          >email</a
        >
        ou
        <a href="https://wa.me/+5562982174065" class="contact-link">whatsapp</a>
      </p>
    </div>
  </mat-card>
</div>
