<div class="container">
  <mat-card class="card">
    <div class="card-content">
      <div class="left-column">
        <h2>Relatório</h2>
        <p>Texto do relatório aqui.</p>
      </div>
      <div class="right-column">
        <canvas
          baseChart
          class="chart"
          [data]="radarChartData"
          [options]="radarChartOptions"
          [type]="radarChartType"
        >
        </canvas>
      </div>
    </div>
    <button mat-raised-button color="primary" class="solicitar-orcamento">
      Solicitar Orçamento
    </button>
  </mat-card>
</div>