.container {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.card {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.left-column {
  width: 45%;
}

.right-column {
  width: 55%;
}

.solicitar-orcamento {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
