<div class="empresa-container">
  <mat-card class="empresa-card">
    <mat-card-header>
      <mat-card-title>Cadastrar Empresa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value, form)">
        <mat-form-field appearance="fill">
          <mat-label>Nome da empresa</mat-label>
          <input matInput name="nomeEmpresa" ngModel required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CNPJ</mat-label>
          <input matInput name="cnpj" ngModel (input)="formatarCNPJ($event)" (keypress)="permitirApenasNumeros($event)" maxlength="18" required />
        </mat-form-field>        
        <mat-form-field appearance="fill">
          <mat-label>A empresa existe há quanto tempo?</mat-label>
          <input matInput name="tempoExistenciaEmpresa" ngModel required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Quantas pessoas trabalham na empresa?</mat-label>
          <input matInput name="quantidadePessoas" ngModel required />
        </mat-form-field>
        <button class="button" type="submit">Confirmar</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="mensagem-erro" *ngIf="mensagemErro">{{ mensagemErro }}</div>
</div>
