.header {
  height: 70px;
  background-color: #0064fb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: visible;
}

.spacer {
  flex: 1;
}

.title {
  color: #ffffff;
  font-weight: 800;
  font-size: 35px;
  line-height: 29px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
