<div class="parent-container">
  <div class="table-container">
    <mat-form-field class="search-bar">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
    </mat-form-field>

    <div class="table-scroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>
            <div class="text-center">Tipo de Usuário</div>
          </th>
          <td mat-cell *matCellDef="let user">
            <div class="text-center">{{ user.authority }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef>
            <div class="text-center">Ação</div>
          </th>
          <td mat-cell *matCellDef="let user">
            <div class="text-center">
              <button
                mat-icon-button
                (click)="tornarAdmin(user)"
                *ngIf="user.authority !== 'ROOT'"
              >
                <mat-icon>person_add</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="removerAdmin(user)"
                *ngIf="user.authority === 'ROOT'"
              >
                <mat-icon>person_remove</mat-icon>
              </button>
              <button mat-icon-button (click)="excluirUsuario(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
