<mat-toolbar class="header">
  <span class="spacer"></span>
  <span class="title">Cadastro</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="form-container">
  <label for="token-input">Digite o token que foi enviado no seu email</label>
  <mat-form-field>
    <input class="input" matInput id="token-input" type="password" [(ngModel)]="token" name="token" />
  </mat-form-field>
  <button class="button" (click)="submitToken()">OK</button>
  <div *ngIf="tokenError" class="error">{{tokenError}}</div>
</div>
