<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="menuAberto"
    [ngClass]="{ collapsed: !menuAberto }"
    class="sidenav"
  >
    <div class="user-info">
      <img
        ngSrc="./assets/user.png"
        class="user-image"
        alt="User"
        height="512"
        width="512"
      />
      <h3 class="user-name" *ngIf="menuAberto">Administrador</h3>
      <p class="user-email" *ngIf="menuAberto">{{ email }}</p>
    </div>
    <div class="nav-list-container">
      <mat-nav-list class="nav-list">
        <a
          mat-list-item
          routerLink="/admin/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>home</mat-icon>
            <span *ngIf="menuAberto">Home</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/usuarios"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>people</mat-icon>
            <span *ngIf="menuAberto">Usuários</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/empresas"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>business</mat-icon>
            <span *ngIf="menuAberto">Empresas</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/categorias"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>category</mat-icon>
            <span *ngIf="menuAberto">Categorias</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/questoes"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>format_list_bulleted</mat-icon>
            <span *ngIf="menuAberto">Questões</span>
          </span>
        </a>
        <div class="logout-container">
          <a
            mat-list-item
            routerLink="/"
            class="menu-item"
            (click)="deslogar()"
          >
            <span class="menu-item-content">
              <mat-icon>exit_to_app</mat-icon>
              <span *ngIf="menuAberto">Sair</span>
            </span>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <button mat-icon-button (click)="toggleMenu()" class="toggle-button">
      <mat-icon>{{ menuAberto ? "chevron_left" : "chevron_right" }}</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
