.sidenav-container {
  display: flex;
  height: 100%;
  background-color: #d9d9d9;
}

.sidenav {
  width: 250px;
  background-color: #0064fb;
  transition: width 0.3s;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  overflow: hidden;
}

.sidenav.collapsed {
  width: 60px;
}

.sidenav-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

.user-image {
  margin-top: 30px;
  width: 123px;
  height: 123px;
  object-fit: cover;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: width 0.3s, height 0.3s;
}

.user-image.collapsed-image {
  width: 35px;
  height: 35px;
}

.user-name {
  font-weight: bold;
  color: #ffffff;
  font-size: 26px;
  margin-top: 40px;
}

.user-email {
  margin-top: 0;
  color: #ffffff;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.menu-item-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-item-content span,
.user-email {
  font-size: 18px;
}

.active {
  font-weight: bold;
}

mat-icon {
  color: #fff;
}

.nav-list-container {
  display: flex;
  flex-direction: column;
}

.logout-container {
  position: absolute;
  bottom: 5px;
}

.toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background-color: #0064fb;
  color: #fff;
}

.collapsed .menu-item-content {
  justify-content: center;
}

.collapsed .menu-item-content span {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 65px;
  }

  .sidenav .user-image {
    width: 35px;
    height: 35px;
  }

  .sidenav .user-name,
  .sidenav .user-email,
  .sidenav .menu-item-content span:not(.mat-icon) {
    display: none;
  }

  .sidenav .menu-item-content {
    justify-content: center;
  }

  .toggle-button {
    display: none;
  }
}