<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="user-info">
      <img
        ngSrc="./assets/user.png"
        class="user-image"
        alt="User"
        height="512"
        width="512"
      />
      <h3 class="user-name">Admin</h3>
      <p class="user-email">{{ email }}</p>
    </div>
    <div class="nav-list-container">
      <mat-nav-list class="nav-list">
        <a
          mat-list-item
          routerLink="/admin/dashboard"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>home</mat-icon>
            Home
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/usuarios"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>people</mat-icon>
            Usuários
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/empresas"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>business</mat-icon>
            Empresas
          </span>
        </a>

        <a
          mat-list-item
          routerLink="/admin/dashboard/categorias"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>category</mat-icon>
            Categorias
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/dashboard/questoes"
          routerLinkActive="active"
          class="menu-item"
        >
          <span class="menu-item-content">
            <mat-icon>format_list_bulleted</mat-icon>
            Questões
          </span>
        </a>
        <div class="logout-container">
          <a
            mat-list-item
            routerLink="/"
            class="menu-item"
            (click)="onLogout()"
          >
            <span class="menu-item-content">
              <mat-icon>exit_to_app</mat-icon>
              Sair
            </span>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
