<div class="parent-container">
  <div class="funcionario-card">
    <div class="empresa-info">
      <div *ngIf="!editandoEmpresa">
        <h2>{{ nomeEmpresa }}</h2>
        <p>{{ cnpjEmpresa }}</p>
      </div>
      <div *ngIf="editandoEmpresa">
        <input [(ngModel)]="nomeEmpresa" />
        <input [(ngModel)]="cnpjEmpresa" />
      </div>
      <button class="button editar-empresa" (click)="editarEmpresa()">
        {{ editandoEmpresa ? "Confirmar" : "Editar empresa" }}
      </button>
    </div>

    <div class="input-email-container">
      <input
        type="email"
        class="input-email"
        placeholder="Digite o e-mail aqui"
        [(ngModel)]="userEmail"
        (keyup.enter)="convidarFuncionario()"
      />
      <button class="button" (click)="convidarFuncionario()">
        Convidar funcionário
      </button>
    </div>
    <mat-form-field class="search-bar">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar" />
    </mat-form-field>

    <div class="table-scroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="text-center">Email</th>
          <td mat-cell *matCellDef="let businessUsers">
            {{ businessUsers.userEmail }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
          <td mat-cell *matCellDef="let businessUsers" class="text-center">
            {{ businessUsers.invitationAccepted }}
          </td>
        </ng-container>

        <ng-container matColumnDef="answers">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            Respostas
          </th>
          <td mat-cell *matCellDef="let businessUsers" class="text-center">
            {{ businessUsers.answers.length }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="largura-acao text-center"
          >
            Ações
          </th>
          <td mat-cell *matCellDef="let businessUsers">
            <button
              mat-icon-button
              color="primary"
              (click)="
                reenviarConvite(businessUsers.id, businessUsers.userEmail)
              "
              *ngIf="businessUsers.invitationAccepted !== 'Convite aceito'"
            >
              <mat-icon>send</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="removerFuncionario(businessUsers.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success">
    {{ successMessage }}
  </div>
</div>
