<div class="title-container" fxLayoutAlign="center center">
  <h2>Serviços</h2>
</div>
<div class="cards" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Planejamento Estratégico</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão da Qualidade</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão de Projetos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="cards" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Planejamento Estratégico</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Desenvolvemos planos estratégicos personalizados para ajudar sua empresa a atingir seus objetivos de longo
        prazo com eficiência.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão da Qualidade</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Implementamos sistemas de gestão da qualidade para garantir que seus produtos e serviços atendam aos mais altos
        padrões.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão de Projetos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Nossos especialistas em gestão de projetos asseguram que seus projetos sejam concluídos no prazo, dentro do
        orçamento e com alta qualidade.</p>
    </mat-card-content>
  </mat-card>
</div> -->