<div class="title-container" fxLayoutAlign="center center">
  <h2>Serviços</h2>
</div>
<div class="cards" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Planejamento Estratégico</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão da Qualidade</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gestão de Projetos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </mat-card-content>
  </mat-card>
</div>