.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-scroll {
  max-height: 70vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

th.mat-header-cell {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

td.mat-cell {
  padding: 8px;
}

th.mat-header-cell:not(:last-child),
td.mat-cell:not(:last-child) {
  border-right: 2px solid #000;
}

.text-center {
  text-align: center;
}

.search-bar {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .table-container {
    width: 50vh;
  }
}
