<div class="parent-container">
  <div class="table-container">
    <mat-form-field class="search-bar">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar" />
    </mat-form-field>

    <div class="table-scroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
          <td mat-cell *matCellDef="let businesses" class="text-center">
            {{ businesses.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="text-center">Nome</th>
          <td mat-cell *matCellDef="let businesses">
            <div *ngIf="editingBusinessId !== businesses.id; else editingName">
              {{ businesses.name }}
            </div>
            <ng-template #editingName>
              <input [(ngModel)]="businesses.name" style="border: none" />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="cnpj">
          <th mat-header-cell *matHeaderCellDef class="text-center">CNPJ</th>
          <td mat-cell *matCellDef="let businesses">
            <div *ngIf="editingBusinessId !== businesses.id; else editingCnpj">
              {{ businesses.cnpjCpf }}
            </div>
            <ng-template #editingCnpj>
              <input [(ngModel)]="businesses.cnpjCpf" style="border: none" />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="managerId">
          <th mat-header-cell *matHeaderCellDef class="text-center">Email</th>
          <td mat-cell *matCellDef="let businesses" class="text-center">
            <div *ngIf="editingBusinessId !== businesses.id; else editingEmail">
              {{ emailEmpresa[businesses.managerId] }}
            </div>
            <ng-template #editingEmail>
              <input
                [(ngModel)]="emailEmpresa[businesses.managerId]"
                style="border: none"
              />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef>
            <div class="text-center">Ação</div>
          </th>
          <td mat-cell *matCellDef="let businesses">
            <div class="text-center">
              <button mat-icon-button (click)="alternarEdicao(businesses)">
                <mat-icon *ngIf="editingBusinessId !== businesses.id"
                  >edit</mat-icon
                >
                <mat-icon *ngIf="editingBusinessId === businesses.id"
                  >check</mat-icon
                >
              </button>

              <button mat-icon-button (click)="excluirEmpresa(businesses)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="relatorio">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            Relatório
          </th>
          <td mat-cell *matCellDef="let businesses" class="text-center">
            <button mat-icon-button (click)="abrirModalRelatorio(businesses)">
              <mat-icon>insert_chart_outlined</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
      </table>
    </div>
    <div *ngIf="dataSource.data.length === 0" class="no-data">
      Nenhuma empresa cadastrada.
    </div>
  </div>
</div>
