.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-scroll {
  max-height: 70vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

th.mat-header-cell {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

td.mat-cell {
  padding: 8px;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 20px;
}

.mat-mdc-cell {
  font-size: 18px !important;
}

th.mat-header-cell:not(:last-child),
td.mat-cell:not(:last-child) {
  border-right: 2px solid #000;
}

.text-center {
  text-align: center;
}

.search-bar {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
}

.no-data {
  margin-top: 20px;
}

.input-editing {
  height: 30px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .table-container {
    width: 80%;
    max-width: 100%;
    margin-left: 0;
    margin-right: -40px;
  }

  .table-scroll {
    overflow-x: auto;
    max-width: 100%;
  }

  .mat-mdc-header-cell {
    font-size: 18px;
  }

  .mat-mdc-cell {
    font-size: 16px !important;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 768px) {
  .parent-container {
    margin-left: -200px;
    margin-right: 0;
  }
  .table-container {
    width: 80%;
    margin-right: -140px;
  }

  .mat-mdc-header-cell {
    font-size: 16px;
  }

  .mat-mdc-cell {
    font-size: 14px !important;
  }

  .input-editing {
    height: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .parent-container {
    margin-left: -300px;
    margin-right: 0;
  }

  .table-container {
    width: 90%;
    margin-left: 0;
    margin-right: -240px;
  }

  .table-scroll {
    margin: 0 -5px;
  }

  .mat-mdc-header-cell {
    font-size: 14px;
  }

  .mat-mdc-cell {
    font-size: 12px !important;
    padding: 4px;
  }

  .input-editing {
    height: 20px;
    font-size: 12px;
  }
}
