<div class="funcionario-container">
  <mat-card class="funcionario-card">
    <mat-card-header>
      <mat-card-title>Funcionários</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef class="preenchimento-email">
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let businessUsers" class="preenchimento-email">
            {{ businessUsers.userEmail }}
          </mat-cell>
          
        </ng-container>

        <!-- <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell class="centralizado" *matCellDef="let funcionario">
            {{ funcionario.status }}
          </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="actions">
          <mat-header-cell class="largura-acao" *matHeaderCellDef>
            Ações
          </mat-header-cell>
          <mat-cell *matCellDef="let businessUsers" class="centralizado">
            <button
              mat-icon-button
              color="primary"
              (click)="reenviarConvite(businessUsers.id, businessUsers.userEmail)"
              *ngIf="businessUsers.status === 'Convite Expirado'"
            >
              <mat-icon>send</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="removerFuncionario(businessUsers.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
      </mat-table>
      <div class="input-email-container">
        <input
          type="email"
          class="input-email"
          placeholder="Digite o e-mail aqui"
          [(ngModel)]="userEmail"
          (keyup.enter)="convidarFuncionario()"
        />
        <button class="button" (click)="convidarFuncionario()">
          Convidar funcionário
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success">
    {{ successMessage }}
  </div>
</div>
