.funcionario-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.funcionario-card {
  width: 700px;
  padding: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 20px;
}

mat-card-content {
  padding: 0;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.button {
  margin-left: 10px;
  border: none;
  width: 200px;
  height: 40px;
  display: block;
  background-color: #0064fb;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #0046b2;
}

mat-dialog-content {
  font-size: 16px;
  margin-bottom: 20px;
}

mat-header-cell {
  justify-content: center;
}

mat-table {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
}

mat-cell,
mat-header-cell {
  border-right: 1px solid #e0e0e0;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding: 0;
}

mat-cell:last-child,
mat-header-cell:last-child {
  border-right: none;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0;
}

.centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-espacada {
  margin-right: 10px;
}

.preenchimento-email {
  padding: 0 10px;
}

.input-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 30px;
}

.input-email {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  height: 40px;
  width: 70%;
  margin-right: 10px;
}

.mat-icon {
  color: black !important;
}

.error {
  color: white;
  background-color: red;
  padding: 0.625rem;
  margin-top: 0.625rem;
  border-radius: 1rem;
}

.success {
  color: white;
  background-color: green;
  padding: 0.625rem;
  margin-top: 0.625rem;
  border-radius: 1rem;
}
