<mat-toolbar class="header">
  <span class="spacer"></span>
  <span class="title">Cadastro</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="form-container">
  <label for="email-input">Digite seu email</label>
  <input class="input" id="email-input" type="email" [(ngModel)]="email" name="email" required/>
  <button class="button" (click)="enviarEmail()">OK</button>
  <div *ngIf="emailError" class="error">{{ emailError }}</div>
  <div *ngIf="emailSuccess" class="success">{{ emailSuccess }}</div>
</div>