<div class="content-1">
  <div class="about-me">
    <div class="text">
      <h1>Alexandre Marques</h1>
      <p>
        Sou Secretário Municipal de Planejamento na Prefeitura de Ceres, Goiás.
        Neste papel, tenho a oportunidade de contribuir diretamente para o
        desenvolvimento da nossa comunidade, aplicando minhas habilidades em
        planejamento estratégico.
      </p>
      <p>
        Como consultor, meu foco principal é o planejamento estratégico,
        ajudando empresas e instituições a alcançar seus objetivos com
        eficiência e sustentabilidade.
      </p>
      <p>
        Minha formação inclui Economia e História, com especializações em Gestão
        Pública, Gestão da Qualidade e um MBA em Gerenciamento de Projetos pela
        FGV. Possuo certificações internacionais como auditor líder ISO
        9001:2015 e CRP ISO 31.000:2018.
      </p>
    </div>
    <div class="image">
      <img src="assets/man.png" alt="Sua foto" />
    </div>
  </div>
</div>
<div class="content-2">
  <button class="button" routerLink="/login">Faça um diagnóstico</button>
</div>
