<div class="funcionario-container">
  <mat-card class="funcionario-card">
    <mat-card-header>
      <mat-card-title>Funcionários</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="funcionarios">
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef class="preenchimento-email"> Email </mat-header-cell>
          <mat-cell *matCellDef="let funcionario" class="preenchimento-email"> {{funcionario.email}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell class="centralizado" *matCellDef="let funcionario"> {{funcionario.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell class="largura-acao" *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let funcionario" class="centralizado">
            <a href="#" class="imagem-espacada">
              <img ngSrc="assets/reenviar.png" alt="Reenviar" height="512" width="512" />
            </a>
            <a href="#">
              <img ngSrc="assets/remover.png" alt="Remover" height="512" width="512" />
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
      </mat-table>
      <div class="input-email-container">
        <input type="email" class="input-email" placeholder="Digite o e-mail aqui">
        <button class="button">Convidar funcionário</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
