:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-value {
  font-size: 2.5em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.top-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.small-card {
  width: 280px;
  height: 193px;
  text-align: center;
}

.small-card span {
  display: block;
}

.full-width-card {
  min-width: 280px;
  min-height: 193px;
  padding: 16px;
  box-sizing: border-box;
}

.form-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

@media (min-width: 1600px) {
  .small-card {
    width: 350px;
    height: 250px;
  }

  .full-width-card {
    min-width: 600px;
    min-height: 500px;
    font-size: 1.5em;
  }
}
