.card {
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.small-card {
  width: 280px;
  height: 193px;
  margin-top: 22px;
  margin-bottom: 22px;
}


.full-width-card {
  width: 902px;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 16px;
  height: 50vh;
}

.form-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1400px) {
  .small-card {
    margin-top: 60px;
    width: 350px;
    height: 240px;
  }

  .full-width-card {
    width: calc((360px * 3) + (16px * 2));
  }
}
