.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120vh;
  max-height: 80vh;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-scroll {
  max-height: 60vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

th.mat-header-cell {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

td.mat-cell {
  padding: 8px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
}

mat-form-field {
  width: 100%;
  border: none;
}

.center-text {
  text-align: center;
}

.full-width-input {
  width: 100%;
  background-color: transparent;
  outline: none;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-bottom: 10px;
  border: none;
  width: 170px;
  height: 40px;
  display: block;
  background-color: #0064fb;
  border-radius: 15px;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #0046b2;
}

.espaco-botao {
  margin-right: 10px;
  border-radius: 15px;
}

.botao-personalizado {
  background-color: gray !important;
  color: white !important;
}

.botao-ativado {
  background-color: #0064fb !important;
  color: #ffffff !important;
  cursor: pointer;
}

.botao-direito {
  border-radius: 15px;
  cursor: pointer;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 20px;
}

.mat-mdc-form-field-infix {
  width: 10px !important;
  height: 100px !important;
}

.mat-mdc-cell {
  font-size: 18px !important;
}

.no-data {
  margin-top: 20px;
}

.input-editing {
  height: 30px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .table-container {
    max-width: 60vw;
    max-height: 85vh;
    margin-left: 20px;
  }

  .table-scroll {
    max-height: 55vh;
  }

  .button {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }

  .mat-mdc-header-cell {
    font-size: 18px;
  }

  .mat-mdc-cell {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .parent-container {
    margin-left: 0;
    margin-right: 20px;
  }
  .table-container {
    max-width: 70vw;
  }

  .table-scroll {
    max-height: 50vh;
    width: 100%;
  }

  table {
    min-width: 100%;
  }

  .button {
    width: 130px;
    height: 30px;
    font-size: 12px;
  }

  .mat-mdc-header-cell {
    font-size: 16px;
  }

  .mat-mdc-cell {
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 480px) {
  .parent-container {
    margin-right: 0;
    margin-left: 0;
  }
  .table-container {
    margin-right: 20px;
    max-height: 80vh;
  }

  .table-scroll {
    max-height: 45vh;
  }

  .button {
    width: 180px;
    height: 50px;
    font-size: 16px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .mat-mdc-header-cell {
    font-size: 14px;
  }

  .mat-mdc-cell {
    font-size: 12px !important;
  }

  .search-bar {
    padding: 0 0.5em;
  }

  .espaco-botao {
    margin-right: 5px;
  }
}
