.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120vh;
  height: 90vh;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-scroll {
  max-height: 60vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

th.mat-header-cell {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

td.mat-cell {
  padding: 8px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
}

mat-form-field {
  width: 100%;
  border: none;
}

.center-text {
  text-align: center;
}

.full-width-input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-bottom: 10px;
  border: none;
  width: 170px;
  height: 55px;
  display: block;
  background-color: #0064fb !important;
  border-radius: 15px;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.mat-mdc-header-cell {
  font-weight: inherit !important;
  font-size: 20px;
}

.mat-mdc-cell {
  font-size: 18px !important;
}
