<div class="categories-container">
  <div
    *ngFor="let category of categories; let i = index"
    class="category"
    [ngClass]="{
      'category-active': currentCategoryIndex === i,
      'category-completed': completedCategories[i]
    }"
  >
    {{ category.name }}
  </div>
</div>
<div class="question-container">
  <div class="category">{{ currentCategory }}</div>
  <div
    class="question-wrapper"
    [@slideRightLeft]="showQuestion ? 'center-delayed' : 'right'"
  >
    <div class="question" *ngIf="showQuestion" [@fadeInOut]="currentQuestion">
      {{ currentQuestion }}
    </div>
  </div>
  <div class="answer-buttons">
    <button
      *ngFor="let index of answers; let i = index"
      [style.backgroundColor]="gradientColor(i)"
      (click)="selectAnswer(i)"
      [disabled]="transitioning"
      [matTooltip]="
        i === 0 ? 'Discordo totalmente' : i === 10 ? 'Concordo totalmente' : ''
      "
      [matTooltipShowDelay]="0"
      (mouseout)="showTooltip(i)"
      (mouseout)="ensureTooltipsAreShown()"
    >
      {{ index }}
    </button>
  </div>
  <div class="progress-text">{{ progressPercentage }}%</div>
</div>
