.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  position: relative;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
}

.form-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

span {
  font-size: 20px;
  text-align: justify;
}

button {
  width: 130px;
  height: 48px;
  background-color: #0064fb;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #0046b2;
}

.info-styles {
  .form-card {
    background-color: #ffffff;
    width: 80%;
  }

  p {
    font-size: 16px;
    text-align: justify;
    margin: 0;
  }
}

.continue-button {
  width: 300px;
  background-color: rgb(4, 185, 4);
}

.continue-button:hover {
  background-color: rgb(1, 112, 1);
}

.finalizado-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.finalizado-texto {
  font-weight: 500;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
  margin: 10px 0;
}

.continue-button {
  width: 300px;
}

.info-styles {
  .form-card {
    background-color: #ffffff;
    width: 80%;
  }

  p {
    font-size: 16px;
    text-align: justify;
    margin: 0;
  }
}

.continue-button {
  width: 300px;
  background-color: rgb(4, 185, 4);
}

.continue-button:hover {
  background-color: rgb(1, 112, 1);
}

.finalizado-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.finalizado-texto {
  font-weight: 500;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
  margin: 10px 0;
}

.sair {
  background-color: #808080;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sair:hover {
  background-color: red;
}

.sair mat-icon {
  color: white !important;
  transform: rotateY(0deg);
}

@media (max-width: 1024px) {
  .form-card {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .form-card {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px 40px;
    flex-direction: column;
  }

  .form-card {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .form-title {
    font-size: 1.4em;
  }

  .form-content p {
    font-size: 0.9em;
    margin: 5px 0;
  }

  .button.sair {
    margin-top: 10px;
    font-size: 0.8em;
    width: 40px;
    height: 40px;
  }

  .continue-button {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: 1em;
  }

  .finalizado-texto {
    font-size: 1em;
    margin: 5px 0;
  }
}