<div class="container" [ngClass]="{'info-styles': isInfoRoute()}">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title class="form-title"
        >Diagnóstico Empresarial</mat-card-title
      >
    </mat-card-header>

    <mat-card-content class="form-content">
      <span>
        Prezado, antes de responder a este questionário, é importante que fique
        claro o seguinte:<br /><br />
        1º) Esse diagnóstico não substitui de maneira alguma o trabalho de um
        profissional qualificado para atuar orientando a sua empresa. Ele visa
        apenas a sinalização de pontos de melhoria que precisam ser tratados com
        mais atenção e te estimular a, realmente, tomar uma atitude quanto ao
        seu negócio.<br /><br />
        2º) Seja sincero com suas respostas. Não informe aquilo que sua empresa
        não é ou aquilo que você gostaria que ela fosse. Informe aquilo que está
        mais próximo da sua realidade e não fique mentindo para você mesmo.<br /><br />
        3º) Se a pergunta não se aplica ao seu negócio, mantenha o cursor na
        resposta neutra e vá para a próxima questão.<br /><br />
        4º) Se tiver alguém de confiança em sua equipe para ajuda-lo a
        responder, é recomendável que você convide essa pessoa para auxiliá-lo
        com o questionário.<br /><br />
        5º) Responda o questionário com calma, em um ambiente no qual você possa
        pensar bem no que está respondendo.<br /><br />
      </span>
      <button [ngClass]="{'continue-button': isContinuing}" routerLink="/formulario">{{ buttonText }}</button>
    </mat-card-content>
  </mat-card>
</div>